@{
    ViewBag.Title = "ConflictManagementAssessment";
}

<div class="row">
    <div class="col-lg-12">
        <div class="box-border">

            <div class="row">
                <div align="right">
                    <a href="@Url.Action("LeaerningAssessmentView", "Dashboard")">  <img src="~/Content/images/back.png" alt="" /></a>
                </div>
                <div class="col-md-2" align="center">
                    <h3 style="color:#019934" class="categories_header_text">
                        Learning Assessment
                    </h3>
                    <img src="~/Content/images/17.png" alt="" class="img-thumbnail" />
                </div>
                <div class="col-md-10" align="justify">
                    <br /> 
                    <h3 class="categories_header_text">
                        Conflict Management Assessment
                    </h3>
                    <br />
                    <div class="odd" style="padding:10px;font-weight:bold;">
                        Conflicts arise due to
                    </div>

                    <p class="radio_text"> <input type="radio" id="" name="rad" />	Disagreements over tasks, ideas, views</p>
                    <p class="radio_text">
                        <input type="radio" id="" name="rad" /> Difference in values, beliefs, goals
                    </p>
                    <p class="radio_text">
                        <input type="radio" id="" name="rad" />	Expectations in work, appraisal, salary
                    </p>
                    <p class="radio_text">  <input type="radio" id="" name="rad" /> All of the above</p>
                </div>
            </div>
        </div>
    </div>
</div>



