
@{
    ViewBag.Title = "Gamification";
    string api=(string)ViewData["api"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1 style="color:white">Under development....coming soon..</h1>

    <img style="max-width: 100%;" src="~/Content/images/games background.jpg" />*@
<div class="" style="">
    <div class="row">
        <a href="" id="backLink"> <small class="text-navy"> <i class="fa fa-fw" aria-hidden="true" title="Copy to use chevron-circle-left"></i> Back</small> </a>
        <div class="btmclr"> </div>
        <iframe src="@api" style="width:100%;height: 372px;"></iframe>
    </div>
   
</div>

