@{
    ViewBag.Title = "Marketplace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <iframe runat="server" id="Reports" src="http://www.m2ost.in/vendorcart/index.php?route=common/home" width="100%" height="100%" style="height:426px"></iframe>
</div>