<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M2OST</title>


    <link href="~/Content/New_Landing_Page/dub/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/New_Landing_Page/dub/Mainstyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/js_validation/css/validationEngine.jquery.css" media="screen" type="text/css" />


    <link href="~/Content/New_Landing_Page/dub/loading.min.css" rel="stylesheet">
    <link href="~/Content/New_Landing_Page/dub/skillalert.min.css" rel="stylesheet">

    <link href="~/Content/New_Landing_Page/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/New_Landing_Page/dub/jquery.loading.min.js"></script>

    <script type="text/javascript" src="~/Content/js_validation/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="~/Content/js_validation/js/jquery.validationEngine-en.js"></script>
    <script src="~/Content/New_Landing_Page/dub/skillalert.js"></script>
</head>
<body>
    <div id="pagecontent" class="main-wrapper">
        @RenderBody()
    </div>
</body>
</html>

